name: CI/CD Pipeline

# ---------------------------------------------------------
# 1. TRIGGERS
# ---------------------------------------------------------
on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  # ---------------------------------------------------------
  # JOB 1: BUILD & PUSH
  # ---------------------------------------------------------
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: mistic1265  # <--- SECURE
          password: Docker@@123Hub  # <--- SECURE

      # ---------------------------------------------------
      # BUILD BACKEND (API)
      # ---------------------------------------------------
      - name: Build and Push Backend
        uses: docker/build-push-action@v4
        with:
          # Sets "TechStore" folder as the root for the build (so it sees Infrastructure)
          context: TechStore
          # Points to the Dockerfile inside the project folder
          file: TechStore/TechStore/Dockerfile
          push: true
          tags: mistic1265/pad_lab4:backend-latest

      # ---------------------------------------------------
      # BUILD FRONTEND (STOREFRONT)
      # ---------------------------------------------------
      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: TechStore
          file: TechStore/StoreFront/Dockerfile
          push: true
          tags: mistic1265/pad_lab4:frontend-latest

  # ---------------------------------------------------------
  # JOB 2: DEPLOY TO SERVER
  # ---------------------------------------------------------
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 146.190.158.164        # <--- SECURE
          username: root
          password: root@@123Digital # <--- SECURE
          script: |
            # 1. Navigate to project folder
            cd /opt/techstore

            # 2. Stop containers (Using new V2 command syntax)
            echo "Stopping current containers..."
            docker compose down

            # 3. Pull new images
            echo "Pulling latest images..."
            docker compose pull

            # 4. Start updated system
            echo "Starting new version..."
            docker compose up -d

            # 5. Cleanup space
            echo "Cleaning up unused images..."
            docker image prune -f