version: '3.8'

services:
  # 1. API Service
  api:
    build:
      context: .
      dockerfile: TechStore/Dockerfile
    expose: 
      - "8080"
    environment:
      - RecordStreamDatabase:ConnectionString=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
      - RecordStreamDatabase:DatabaseName=PAD
      - RecordStreamDatabase:ProductsCollectionName=Products
      - RecordStreamDatabase:CategoriesCollectionName=Category
      - ASPNETCORE_ENVIRONMENT=Developmen

    depends_on:
      - mongo-setup
    networks:
      - proxy-tier
      - data-tier

  # 2. NGINX Gateway
  nginx:
    image: nginx:latest
    container_name: nginx_gateway
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    ports:

      # FIX: Mapped to 8080 to avoid Windows Port 80 conflict
      - "8080:80" 
    depends_on:
      - api
    networks:
      - proxy-tier

  # 3. MongoDB Replica Set (Standard)
  mongo1:
    image: mongo:latest
    container_name: mongo1
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    networks:
      - data-tier
  mongo2:
    image: mongo:latest
    container_name: mongo2
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    networks:
      - data-tier
  mongo3:
    image: mongo:latest
    container_name: mongo3
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    networks:
      - data-tier

  # 4. MongoDB Setup
  mongo-setup:
    image: mongo:latest
    container_name: mongo_setup
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - data-tier
    command: >
      mongosh --host mongo1:27017 --eval 
      'rs.initiate({
        _id: "rs0",
        members: [
          { _id: 0, host: "mongo1:27017" },
          { _id: 1, host: "mongo2:27017" },
          { _id: 2, host: "mongo3:27017" }
        ]
      })'

networks:
  proxy-tier:
    driver: bridge
  data-tier:
    driver: bridge